.contenido-principal-index {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url("../multimedia/galeria/Montevideo-Plaza-Independencia-1.jpg");
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    display: flex;
}

.seccion-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.seccion-index hr {
    width: 50%;
    height: 15px;
    color: $color-items;
    opacity: initial;
}

.seccion-index .boton-index {
    border-radius: 4px;
    color: $color-items;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    border: 2px solid $color-items;
    background-color: transparent;
    padding: 5px 50px;
    transition: 0.5s;
    cursor: pointer;
}

.seccion-index .boton-index:hover {
    color: $color-item-sec;
    background-color: $color-items;
}

.titulo {
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 1px;
    color: $color-principal;

}

.sub-titulo {
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 1px;
    text-align: center;
    color: $color-principal;

}

.parrafo {
    color: $color-principal;
    font-size: 20px;
    text-align: center;
}