.fondo-contacto {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url("../multimedia/galeria/casa-pueblo-punta-del-este-uruguay_2.jpg");
    width: 100%;
    height: fit-content;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .titulo-contacto {
        display: flex;
        align-items: center;
        justify-content: center;

        div {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: 5vh;

            h1 {
                color: map-get($paleta-colores, primario);
                font-weight: bold;
                font-size: 45px;
            }

            hr {
                width: 100%;
                height: 15px;
                color: map-get($paleta-colores, lineas);
                opacity: initial;
                margin-top: 5px;
            }
        }

    }

    .seccion-contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 5vh;

        .caja {
            background-color: map-get($paleta-colores, primario);
            width: 100%;
            display: flex;
            flex-direction: column;
            align-self: flex-start;
            padding: 15px 20px;
            box-shadow: 2px 2px 5px map-get($paleta-colores, sombra);
            border-left: 5px solid map-get($paleta-colores, lineas);

            form {

                .nombre,
                .apellido {
                    width: 50%;
                }

                .item {
                    display: inline-block;
                    align-items: center;
                    justify-content: center;
                    margin: 10px 0;
                }

                .boton-item {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    .boton-form {
                        margin: 5px 0;
                        background-color: map-get($paleta-colores, botones);
                        width: 200px;
                        font-weight: bold;
                        border: 2px solid map-get($paleta-colores, bordes);
                        color: map-get($paleta-colores, texto-boton);
                        transition: 0.5s;
                    }

                    .boton-form:hover {
                        border: 2px solid map-get($paleta-colores, bordes);
                        background-color: transparent;
                    }
                }
            }
        }
    }
}