.contenedor-ubicacion {
    @include contenedor-principal ($url-fondo-ubicacion);
    .titulo-ubicacion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: center;
        padding-top: 5vh;
        @extend .texto-titulo-pag;
        @extend .barra_busqueda;
    }
    .mapa {
        min-height: 70vh;
        iframe {
            width: 100%;
            height: 70vh;
        }
    }
}