//COLORES
$paleta-colores: (
    primario: white,
    secundario: #ecf9ff,
    lineas: orange,
    botones: orange,
    sombra: gray,
    bordes: #212529,
    iconos: #212529,
    texto-boton: #212529,
    color-texto: white,
    color-titulo: white
);