@media (max-width:768px) {
    .pie-de-pagina div {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "redes footer-logo";
    }
    .sobre-nosotros {
        .caja-izq {
            width: 100%;
            align-self: center;
        }
        .caja-der {
            width: 100%;
            align-self: center;
        }
    }
}

@media (max-width:576px) {

    .nombre,
    .apellido {
        width: 100%;
    }

    .seccion-contacto .caja form .boton-item .boton-form {
        width: 100%;
    }

    footer .pie-de-pagina {
        grid-template-columns: 1fr;
        grid-gap: 15px;
        .footer-logo {
            justify-content: center;
            align-items: center;
        }
        hr {
            display: block;
        }
        .redes-sociales {
            justify-content: center;
            align-items: center;
        }
    }
}

@media (max-width:480px) {
    .img-pag-contacto {
        div {
            width: 90%;
        }
    }
}