@media (min-width:1200px) {
    .contenedor-galeria {
        .galeria {
            .imagen-galeria:nth-child(3) {
                grid-row-start: span 2;
            }
            .imagen-galeria:nth-child(9) {
                grid-row-start: span 2;
            }
            .imagen-galeria:nth-child(10) {
                grid-column-start: span 2;
            }
        }
    }
}

@media screen and (max-width:992px) {
    .contenedor-galeria {
        .galeria {
            border-width: 25px;
        }
    }
}

@media screen and (max-width:768px) {
    .contenedor-informacion {
        .titulo-informacion {
            grid-template-columns: 1fr;

            h1 {
                justify-self: center;
            }

            .busqueda-y-filtrado {
                justify-self: center;
                align-items: center;

                .form-inline {
                    display: none;
                }

                .oculto-md {
                    display: block;
                }
            }
        }

        .informacion {}
    }

    .contenedor-ubicacion {
        .titulo-ubicacion {
            grid-template-columns: 1fr;

            h1 {
                justify-self: center;
            }

            .busqueda-y-filtrado {
                justify-self: center;
                align-items: center;

                .form-inline {
                    display: none;
                }

                .oculto-md {
                    display: block;
                }
            }
        }

        .mapa {}
    }

    .contenedor-galeria {
        .titulo-galeria {
            grid-template-columns: 1fr;

            h1 {
                justify-self: center;
            }

            .busqueda-y-filtrado {
                justify-self: center;
                align-items: center;

                .form-inline {
                    display: none;
                }

                .oculto-md {
                    display: block;
                }
            }
        }

        .galeria {
            grid-template-columns: 1fr;

            .imagen-galeria:nth-child(1) {
                grid-row-start: span 1;
            }

            .imagen-galeria:nth-child(6) {
                grid-column-start: span 1;
            }

            .imagen-galeria:nth-child(8) {
                grid-row-start: span 1;
            }

            // .imagen-galeria:nth-child(10) {
            //     grid-column-start: span 1;
            // }
        }
    }

    .pie-de-pagina div {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "redes footer-logo";
    }
}

@media screen and (max-width:576px) {

    .fondo-contacto {
        .seccion-contacto {
            .caja {
                form {

                    .nombre,
                    .apellido {
                        width: 100%;
                    }

                    .boton-item {
                        .boton-form {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    footer .pie-de-pagina {
        grid-template-columns: 1fr;
        grid-gap: 15px;

        .footer-logo {
            justify-content: center;
            align-items: center;
        }

        hr {
            display: block;
        }

        .redes-sociales {
            justify-content: center;
            align-items: center;
        }
    }
}

@media screen and (max-width:480px) {
    .img-pag-contacto {
        div {
            width: 90%;
        }
    }
}