@mixin estilo_boton ($color-fondo, $color-texto, $color-borde, $ancho-borde) {
    border-radius: 4px;
    color: $color-texto;
    letter-spacing: 1px;
    border: $ancho-borde solid $color-borde;
    background-color: $color-fondo;
    transition: 0.5s;
    cursor: pointer;
}

@mixin linea_naranja {
    width: 100%;
    color: map-get($paleta-colores, lineas);
    opacity: initial;
}

@mixin contenedor-principal ($url) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url($url);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}