//FONDOS
$url-fondo-index:"../multimedia/galeria/Montevideo-Plaza-Independencia-1.jpg";
$url-fondo-galeria:"../multimedia/galeria/fondo_galeria.jpg";
$url-fondo-contacto:"../multimedia/galeria/casa-pueblo-punta-del-este-uruguay_2.jpg";
//FUENTES
$fuentes: "Open Sans", sans-serif;
