//FONDOS
$url-fondo-index:"../multimedia/galeria/Montevideo-Plaza-Independencia-1.jpg";
$url-fondo-galeria:"../multimedia/fondo_galeria.jpg";
$url-fondo-contacto:"../multimedia/fondo_contacto.jpg";
$url-fondo-ubicacion:"../multimedia/fondo_ubicacion.jpg";
$url-fondo-informacion:"../multimedia/fondo_informacion.jpg";
//FUENTES
$fuentes: "Open Sans", sans-serif;
