@charset "UTF-8";
/*##### MAPS #####*/
/*##### FIN # MAPS #####*/
/*##### VARIABLES #####*/
/*##### FIN # VARIABLES #####*/
/*##### MIXINS #####*/
/*##### FIN # MIXINS #####*/
/*##### EXTEND #####*/
.texto-titulo-pag div h1, .contenedor-informacion .titulo-informacion div h1, .contenedor-ubicacion .titulo-ubicacion div h1, .contenedor-galeria .titulo-galeria div h1 {
  justify-self: flex-start;
  color: white;
  font-weight: bold;
  font-size: 45px;
}
.texto-titulo-pag div hr, .contenedor-informacion .titulo-informacion div hr, .contenedor-ubicacion .titulo-ubicacion div hr, .contenedor-galeria .titulo-galeria div hr {
  width: 100%;
  color: orange;
  opacity: initial;
  margin-top: 5px;
}

.barra_busqueda .busqueda-y-filtrado, .contenedor-informacion .titulo-informacion .busqueda-y-filtrado, .contenedor-ubicacion .titulo-ubicacion .busqueda-y-filtrado, .contenedor-galeria .titulo-galeria .busqueda-y-filtrado {
  background-color: rgb(2, 90, 156);
  padding: 10px 15px;
  width: 100%;
}
.barra_busqueda .busqueda-y-filtrado .form-inline, .contenedor-informacion .titulo-informacion .busqueda-y-filtrado .form-inline, .contenedor-ubicacion .titulo-ubicacion .busqueda-y-filtrado .form-inline, .contenedor-galeria .titulo-galeria .busqueda-y-filtrado .form-inline {
  border-left: 5px solid orange;
}
.barra_busqueda .busqueda-y-filtrado .form-inline .input-group .form-control, .contenedor-informacion .titulo-informacion .busqueda-y-filtrado .form-inline .input-group .form-control, .contenedor-ubicacion .titulo-ubicacion .busqueda-y-filtrado .form-inline .input-group .form-control, .contenedor-galeria .titulo-galeria .busqueda-y-filtrado .form-inline .input-group .form-control,
.barra_busqueda .busqueda-y-filtrado .form-inline .input-group .form-select,
.contenedor-informacion .titulo-informacion .busqueda-y-filtrado .form-inline .input-group .form-select,
.contenedor-ubicacion .titulo-ubicacion .busqueda-y-filtrado .form-inline .input-group .form-select,
.contenedor-galeria .titulo-galeria .busqueda-y-filtrado .form-inline .input-group .form-select {
  border-color: gray;
}
.barra_busqueda .busqueda-y-filtrado .form-inline .input-group .form-select, .contenedor-informacion .titulo-informacion .busqueda-y-filtrado .form-inline .input-group .form-select, .contenedor-ubicacion .titulo-ubicacion .busqueda-y-filtrado .form-inline .input-group .form-select, .contenedor-galeria .titulo-galeria .busqueda-y-filtrado .form-inline .input-group .form-select {
  max-width: 200px;
}
.barra_busqueda .busqueda-y-filtrado .form-inline .input-group .input-group-prepend:nth-child(1) .input-group-text, .contenedor-informacion .titulo-informacion .busqueda-y-filtrado .form-inline .input-group .input-group-prepend:nth-child(1) .input-group-text, .contenedor-ubicacion .titulo-ubicacion .busqueda-y-filtrado .form-inline .input-group .input-group-prepend:nth-child(1) .input-group-text, .contenedor-galeria .titulo-galeria .busqueda-y-filtrado .form-inline .input-group .input-group-prepend:nth-child(1) .input-group-text {
  background-color: rgb(2, 90, 156);
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-color: rgb(2, 90, 156);
  color: white;
}
.barra_busqueda .busqueda-y-filtrado .form-inline .input-group .input-group-prepend:nth-child(3) .input-group-text, .contenedor-informacion .titulo-informacion .busqueda-y-filtrado .form-inline .input-group .input-group-prepend:nth-child(3) .input-group-text, .contenedor-ubicacion .titulo-ubicacion .busqueda-y-filtrado .form-inline .input-group .input-group-prepend:nth-child(3) .input-group-text, .contenedor-galeria .titulo-galeria .busqueda-y-filtrado .form-inline .input-group .input-group-prepend:nth-child(3) .input-group-text {
  background-color: rgb(2, 90, 156);
  border-radius: 0;
  border-color: rgb(2, 90, 156);
  color: white;
}
.barra_busqueda .busqueda-y-filtrado .form-inline .input-group .input-group-append:nth-child(5) button, .contenedor-informacion .titulo-informacion .busqueda-y-filtrado .form-inline .input-group .input-group-append:nth-child(5) button, .contenedor-ubicacion .titulo-ubicacion .busqueda-y-filtrado .form-inline .input-group .input-group-append:nth-child(5) button, .contenedor-galeria .titulo-galeria .busqueda-y-filtrado .form-inline .input-group .input-group-append:nth-child(5) button {
  border-radius: 4px;
  color: white;
  letter-spacing: 1px;
  border: 1px solid gray;
  background-color: orange;
  transition: 0.5s;
  cursor: pointer;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  z-index: 0;
}
.barra_busqueda .busqueda-y-filtrado .form-inline .input-group .input-group-append:nth-child(5) button:hover, .contenedor-informacion .titulo-informacion .busqueda-y-filtrado .form-inline .input-group .input-group-append:nth-child(5) button:hover, .contenedor-ubicacion .titulo-ubicacion .busqueda-y-filtrado .form-inline .input-group .input-group-append:nth-child(5) button:hover, .contenedor-galeria .titulo-galeria .busqueda-y-filtrado .form-inline .input-group .input-group-append:nth-child(5) button:hover {
  border-color: gray;
  background-color: gray;
}
.barra_busqueda .busqueda-y-filtrado .oculto-md, .contenedor-informacion .titulo-informacion .busqueda-y-filtrado .oculto-md, .contenedor-ubicacion .titulo-ubicacion .busqueda-y-filtrado .oculto-md, .contenedor-galeria .titulo-galeria .busqueda-y-filtrado .oculto-md {
  display: none;
  border-left: 5px solid orange;
}
.barra_busqueda .busqueda-y-filtrado .oculto-md .input-group, .contenedor-informacion .titulo-informacion .busqueda-y-filtrado .oculto-md .input-group, .contenedor-ubicacion .titulo-ubicacion .busqueda-y-filtrado .oculto-md .input-group, .contenedor-galeria .titulo-galeria .busqueda-y-filtrado .oculto-md .input-group {
  margin-bottom: 10px;
}
.barra_busqueda .busqueda-y-filtrado .oculto-md .input-group .form-control, .contenedor-informacion .titulo-informacion .busqueda-y-filtrado .oculto-md .input-group .form-control, .contenedor-ubicacion .titulo-ubicacion .busqueda-y-filtrado .oculto-md .input-group .form-control, .contenedor-galeria .titulo-galeria .busqueda-y-filtrado .oculto-md .input-group .form-control,
.barra_busqueda .busqueda-y-filtrado .oculto-md .input-group .form-select,
.contenedor-informacion .titulo-informacion .busqueda-y-filtrado .oculto-md .input-group .form-select,
.contenedor-ubicacion .titulo-ubicacion .busqueda-y-filtrado .oculto-md .input-group .form-select,
.contenedor-galeria .titulo-galeria .busqueda-y-filtrado .oculto-md .input-group .form-select {
  border-color: gray;
}
.barra_busqueda .busqueda-y-filtrado .oculto-md .input-group .input-group-prepend:nth-child(1) .input-group-text, .contenedor-informacion .titulo-informacion .busqueda-y-filtrado .oculto-md .input-group .input-group-prepend:nth-child(1) .input-group-text, .contenedor-ubicacion .titulo-ubicacion .busqueda-y-filtrado .oculto-md .input-group .input-group-prepend:nth-child(1) .input-group-text, .contenedor-galeria .titulo-galeria .busqueda-y-filtrado .oculto-md .input-group .input-group-prepend:nth-child(1) .input-group-text {
  width: 98px;
  background-color: rgb(2, 90, 156);
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-color: rgb(2, 90, 156);
  color: white;
}
.barra_busqueda .busqueda-y-filtrado .oculto-md .input-group .input-group-append button, .contenedor-informacion .titulo-informacion .busqueda-y-filtrado .oculto-md .input-group .input-group-append button, .contenedor-ubicacion .titulo-ubicacion .busqueda-y-filtrado .oculto-md .input-group .input-group-append button, .contenedor-galeria .titulo-galeria .busqueda-y-filtrado .oculto-md .input-group .input-group-append button {
  border-radius: 4px;
  color: white;
  letter-spacing: 1px;
  border: 1px solid gray;
  background-color: orange;
  transition: 0.5s;
  cursor: pointer;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  z-index: 0;
}
.barra_busqueda .busqueda-y-filtrado .oculto-md .input-group .input-group-append button:hover, .contenedor-informacion .titulo-informacion .busqueda-y-filtrado .oculto-md .input-group .input-group-append button:hover, .contenedor-ubicacion .titulo-ubicacion .busqueda-y-filtrado .oculto-md .input-group .input-group-append button:hover, .contenedor-galeria .titulo-galeria .busqueda-y-filtrado .oculto-md .input-group .input-group-append button:hover {
  border-color: gray;
  background-color: gray;
}
.barra_busqueda hr, .contenedor-informacion .titulo-informacion hr, .contenedor-ubicacion .titulo-ubicacion hr, .contenedor-galeria .titulo-galeria hr {
  width: 100%;
  color: orange;
  opacity: initial;
}

.item-info-sitios {
  width: 200px;
  height: 500px;
  border-radius: 5px;
  border: 1px solid #212529;
  transition: 0.5s;
}

.item-info-sitios:hover {
  transform: scale(1.1, 1.1);
}

/*##### FIN # EXTEND #####*/
/*##### RESETS #####*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #ecf9ff;
  /* Quitar las decoraciones de los anclajes */
  /* Quitar viñetas de las listas */
}
body a {
  text-decoration: none;
}
body ul {
  list-style-type: none;
}

/*##### FIN # RESETS #####*/
/*##### ESTILOS DEL HEADER #####*/
header {
  background-color: white;
  position: sticky;
  z-index: 20;
  top: 0px;
  box-shadow: 1px 1px 3px gray;
}
header nav div .logo {
  padding-top: 3px;
  padding-bottom: 3px;
}
header nav div div ul {
  text-align: center;
}
header nav div div ul .nav-item a {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: bold;
}

/*##### FIN # ESTILOS DEL HEADER #####*/
/*##### ESTILOS DEL FOOTER #####*/
footer {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 100%;
}
footer .pie-de-pagina {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
footer .pie-de-pagina .footer-logo,
footer .pie-de-pagina .redes-sociales {
  display: flex;
  flex-direction: column;
}
footer .pie-de-pagina .footer-logo {
  justify-content: center;
  align-items: start;
  font-size: 1.25rem;
}
footer .pie-de-pagina hr {
  display: none;
  width: 100%;
  margin: 10px 0;
}
footer .pie-de-pagina .redes-sociales {
  justify-content: center;
  align-items: center;
}
footer .pie-de-pagina .redes-sociales .iconos-redes a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 50px;
  color: #212529;
  text-align: center;
  border-bottom: 3px solid;
  border-color: #212529;
}
footer .pie-de-pagina .redes-sociales .iconos-redes a:hover {
  color: orange;
  border-color: orange;
}
footer hr {
  width: 95%;
  margin: 10px 0;
}
footer .copyright {
  padding: 5px 10px;
  text-align: center;
}

/*##### FIN # ESTILOS DEL FOOTER #####*/
/*##### ESTILOS DE INDEX #####*/
.contenido-principal-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../multimedia/galeria/Montevideo-Plaza-Independencia-1.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  width: 100%;
  height: 100vh;
}
.contenido-principal-index .seccion-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contenido-principal-index .seccion-index hr {
  width: 50%;
  height: 15px;
  color: orange;
  opacity: initial;
}
.contenido-principal-index .seccion-index .titulo {
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 1px;
  color: white;
}
.contenido-principal-index .seccion-index .sub-titulo {
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 1px;
  text-align: center;
  color: white;
}
.contenido-principal-index .seccion-index .parrafo {
  color: white;
  font-size: 20px;
  text-align: center;
}
.contenido-principal-index .seccion-index .boton-index {
  border-radius: 4px;
  color: orange;
  letter-spacing: 1px;
  border: 3px solid orange;
  background-color: transparent;
  transition: 0.5s;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 50px;
}
.contenido-principal-index .seccion-index .boton-index:hover {
  color: white;
  background-color: orange;
}

/*##### FIN # ESTILOS DE INDEX #####*/
/*##### ESTILOS DE GALERIA #####*/
.contenedor-galeria {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../multimedia/fondo_galeria.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}
.contenedor-galeria .titulo-galeria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding-top: 5vh;
}
.contenedor-galeria .galeria {
  min-height: 100vh;
  border: 10px solid white;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
  gap: 10px;
  padding: 0 0;
  margin-bottom: 5vh;
}
.contenedor-galeria .galeria .imagen-galeria {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contenedor-galeria .galeria .imagen-galeria:hover {
  transform: scale(1.05);
  outline: 2px solid white !important;
}
.contenedor-galeria .galeria .imagen-galeria:nth-child(1) {
  grid-row-start: span 2;
}
.contenedor-galeria .galeria .imagen-galeria:nth-child(6) {
  grid-column-start: span 2;
}

/*##### FIN # ESTILOS DE GALERIA #####*/
/*##### ESTILOS DE UBICACION #####*/
.contenedor-ubicacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../multimedia/fondo_ubicacion.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}
.contenedor-ubicacion .titulo-ubicacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding-top: 5vh;
}
.contenedor-ubicacion .mapa {
  min-height: 70vh;
}
.contenedor-ubicacion .mapa iframe {
  width: 100%;
  height: 70vh;
}
.contenedor-ubicacion .contenedor-mapa {
  margin-bottom: 5vh;
}

/*##### FIN # ESTILOS DE UBICACION #####*/
/*##### ESTILOS DE INFORMACION #####*/
.contenedor-informacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../multimedia/fondo_informacion.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}
.contenedor-informacion .titulo-informacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding-top: 5vh;
}
.contenedor-informacion .lista-lugares {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
  gap: 5px;
  margin-bottom: 5vh;
}
.contenedor-informacion .lista-lugares .lugar {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 2px gray;
  overflow: hidden;
  margin: 10px;
  text-align: center;
  transition: 0.25s;
}
.contenedor-informacion .lista-lugares .lugar .lugar-imagen {
  height: 60%;
}
.contenedor-informacion .lista-lugares .lugar .lugar-imagen .imagen-lista {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contenedor-informacion .lista-lugares .lugar .lugar-texto {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.contenedor-informacion .lista-lugares .lugar .lugar-texto h3 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 20px;
}
.contenedor-informacion .lista-lugares .lugar .lugar-texto p {
  padding: 0 1rem;
  font-size: 15px;
  font-weight: 300;
}
.contenedor-informacion .lista-lugares .lugar:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px gray;
}

/*##### FIN # ESTILOS DE INFORMACION #####*/
/*##### ESTILOS DE CONTACTO #####*/
.fondo-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../multimedia/fondo_contacto.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  width: 100%;
  height: fit-content;
}
.fondo-contacto .titulo-contacto {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fondo-contacto .titulo-contacto div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5vh;
}
.fondo-contacto .titulo-contacto div h1 {
  color: white;
  font-weight: bold;
  font-size: 45px;
}
.fondo-contacto .titulo-contacto div hr {
  width: 100%;
  color: orange;
  opacity: initial;
  margin-top: 5px;
}
.fondo-contacto .seccion-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fondo-contacto .seccion-contacto hr {
  width: 100%;
  color: orange;
  opacity: initial;
  margin: 20px 0;
}
.fondo-contacto .seccion-contacto .caja {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding: 15px 20px;
  box-shadow: 2px 2px 5px gray;
  border-left: 5px solid orange;
}
.fondo-contacto .seccion-contacto .caja form .nombre,
.fondo-contacto .seccion-contacto .caja form .apellido {
  width: 50%;
}
.fondo-contacto .seccion-contacto .caja form .item {
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
.fondo-contacto .seccion-contacto .caja form .boton-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.fondo-contacto .seccion-contacto .caja form .boton-item .boton-form {
  border-radius: 4px;
  color: white;
  letter-spacing: 1px;
  border: 2px solid gray;
  background-color: rgb(2, 90, 156);
  transition: 0.5s;
  cursor: pointer;
  margin: 5px 0;
  font-weight: bold;
}
.fondo-contacto .seccion-contacto .caja form .boton-item .boton-form:hover {
  background-color: orange;
}
.fondo-contacto .seccion-contacto:last-of-type {
  margin-bottom: 5vh;
}

/*##### FIN # ESTILOS DE CONTACTO #####*/
/*##### MEDIA QUERYS #####*/
@media screen and (min-width: 1200px) {
  .contenedor-galeria .galeria .imagen-galeria:nth-child(3) {
    grid-row-start: span 2;
  }
  .contenedor-galeria .galeria .imagen-galeria:nth-child(9) {
    grid-row-start: span 2;
  }
  .contenedor-galeria .galeria .imagen-galeria:nth-child(10) {
    grid-column-start: span 2;
  }
}
@media screen and (max-width: 992px) {
  .contenedor-galeria .galeria {
    border-width: 25px;
  }
  .contenedor-informacion .lista-lugares .lugar .lugar-imagen {
    height: 50%;
  }
  .contenedor-informacion .lista-lugares .lugar .lugar-texto {
    height: 50%;
  }
}
@media screen and (max-width: 800px) and (min-width: 768px) {
  header nav div div ul .nav-item a {
    letter-spacing: 0;
  }
}
@media screen and (max-width: 768px) {
  .contenedor-informacion .titulo-informacion {
    grid-template-columns: 1fr;
  }
  .contenedor-informacion .titulo-informacion h1 {
    justify-self: center;
  }
  .contenedor-informacion .titulo-informacion .busqueda-y-filtrado {
    justify-self: center;
    align-items: center;
  }
  .contenedor-informacion .titulo-informacion .busqueda-y-filtrado .form-inline {
    display: none;
  }
  .contenedor-informacion .titulo-informacion .busqueda-y-filtrado .oculto-md {
    display: block;
  }
  .contenedor-ubicacion .titulo-ubicacion {
    grid-template-columns: 1fr;
  }
  .contenedor-ubicacion .titulo-ubicacion h1 {
    justify-self: center;
  }
  .contenedor-ubicacion .titulo-ubicacion .busqueda-y-filtrado {
    justify-self: center;
    align-items: center;
  }
  .contenedor-ubicacion .titulo-ubicacion .busqueda-y-filtrado .form-inline {
    display: none;
  }
  .contenedor-ubicacion .titulo-ubicacion .busqueda-y-filtrado .oculto-md {
    display: block;
  }
  .contenedor-galeria .titulo-galeria {
    grid-template-columns: 1fr;
  }
  .contenedor-galeria .titulo-galeria h1 {
    justify-self: center;
  }
  .contenedor-galeria .titulo-galeria .busqueda-y-filtrado {
    justify-self: center;
    align-items: center;
  }
  .contenedor-galeria .titulo-galeria .busqueda-y-filtrado .form-inline {
    display: none;
  }
  .contenedor-galeria .titulo-galeria .busqueda-y-filtrado .oculto-md {
    display: block;
  }
  .contenedor-galeria .galeria {
    grid-template-columns: 1fr;
  }
  .contenedor-galeria .galeria .imagen-galeria:nth-child(1) {
    grid-row-start: span 1;
  }
  .contenedor-galeria .galeria .imagen-galeria:nth-child(6) {
    grid-column-start: span 1;
  }
  .contenedor-galeria .galeria .imagen-galeria:nth-child(8) {
    grid-row-start: span 1;
  }
  .pie-de-pagina div {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "redes footer-logo";
  }
}
@media screen and (max-width: 576px) {
  .fondo-contacto .seccion-contacto .caja form .nombre,
  .fondo-contacto .seccion-contacto .caja form .apellido {
    width: 100%;
  }
  .fondo-contacto .seccion-contacto .caja form .boton-item .boton-form {
    width: 100%;
  }
  footer .pie-de-pagina {
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }
  footer .pie-de-pagina .footer-logo {
    justify-content: center;
    align-items: center;
  }
  footer .pie-de-pagina hr {
    display: block;
  }
  footer .pie-de-pagina .redes-sociales {
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .img-pag-contacto div {
    width: 90%;
  }
  .contenedor-informacion .lista-lugares .lugar .lugar-imagen {
    height: 40%;
  }
  .contenedor-informacion .lista-lugares .lugar .lugar-texto {
    height: 60%;
  }
}
/*##### FIN # MEDIA QUERYS #####*/

/*# sourceMappingURL=style.css.map */
