@charset "UTF-8";
/*##### VARIABLES #####*/
/*##### FIN # VARIABLES #####*/
/*##### RESETS #####*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #ecf9ff;
}

/* Quitar las decoraciones de los anclajes */
a {
  text-decoration: none;
}

/* Quitar viñetas de las listas */
ul {
  list-style-type: none;
}

/*##### FIN # RESETS #####*/
/*##### ESTILOS DEL HEADER #####*/
header {
  background-color: #FFFFFF;
  position: sticky;
  z-index: 20;
  top: 0px;
  box-shadow: 1px 1px 3px gray;
}

/* Elementos de texto de la barra de navegación */
header nav ul li {
  font-weight: bold;
}

nav ul {
  display: flex;
}

ul .nav-item a {
  font-size: 18px;
  letter-spacing: 1px;
}

.logo {
  padding-top: 3px;
  padding-bottom: 3px;
}

/*##### FIN # ESTILOS DEL HEADER #####*/
/*##### ESTILOS DEL FOOTER #####*/
footer {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 100%;
}
footer .pie-de-pagina {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
footer .pie-de-pagina .footer-logo,
footer .pie-de-pagina .redes-sociales {
  display: flex;
  flex-direction: column;
}
footer .pie-de-pagina .footer-logo {
  justify-content: center;
  align-items: start;
  font-size: 1.25rem;
}
footer .pie-de-pagina hr {
  display: none;
  width: 100%;
  margin: 10px 0;
}
footer .pie-de-pagina .redes-sociales {
  justify-content: center;
  align-items: center;
}
footer .pie-de-pagina .redes-sociales .iconos-redes a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 50px;
  color: #212529;
  text-align: center;
  border-bottom: 3px solid;
  border-color: #212529;
}
footer .pie-de-pagina .redes-sociales .iconos-redes a:hover {
  color: orange;
  border-color: orange;
}
footer hr {
  width: 95%;
  margin: 10px 0;
}
footer .copyright {
  padding: 5px 10px;
  text-align: center;
}

/*##### FIN # ESTILOS DEL FOOTER #####*/
/*##### ESTILOS DE INDEX #####*/
.contenido-principal-index {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url("../multimedia/galeria/Montevideo-Plaza-Independencia-1.jpg");
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  display: flex;
}

.seccion-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.seccion-index hr {
  width: 50%;
  height: 15px;
  color: orange;
  opacity: initial;
}

.seccion-index .boton-index {
  border-radius: 4px;
  color: orange;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  border: 2px solid orange;
  background-color: transparent;
  padding: 5px 50px;
  transition: 0.5s;
  cursor: pointer;
}

.seccion-index .boton-index:hover {
  color: #212529;
  background-color: orange;
}

.titulo {
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 1px;
  color: #FFFFFF;
}

.sub-titulo {
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 1px;
  text-align: center;
  color: #FFFFFF;
}

.parrafo {
  color: #FFFFFF;
  font-size: 20px;
  text-align: center;
}

/*##### FIN # ESTILOS DE INDEX #####*/
/*##### ESTILOS DE GALERIA #####*/
.imagen-galeria {
  max-width: 20%;
}

/*##### FIN # ESTILOS DE GALERIA #####*/
/*##### ESTILOS DE UBICACION #####*/
/*##### FIN # ESTILOS DE UBICACION #####*/
/*##### ESTILOS DE INFORMACION #####*/
.lugar {
  width: 80%;
  display: inline-flex;
}

.imagen-lista {
  width: 150px;
}

.lista-lugares {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*##### FIN # ESTILOS DE INFORMACION #####*/
/*##### ESTILOS DE CONTACTO #####*/
.nombre,
.apellido {
  width: 50%;
}

.img-pag-contacto {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url("../multimedia/galeria/Quebrada_de_los_Cuervos.jpeg");
  width: 100%;
  height: fit-content;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-pag-contacto div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10vh;
}
.img-pag-contacto div h1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 45px;
}
.img-pag-contacto div hr {
  width: 100%;
  height: 15px;
  color: orange;
  opacity: initial;
  margin-top: 5px;
}

.seccion-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.seccion-contacto .caja {
  background-color: #FFFFFF;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding: 10px 10px;
  margin: 10px 0;
  box-shadow: 2px 2px 5px gray;
  border-left: 5px solid orange;
}
.seccion-contacto .caja form .item {
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
.seccion-contacto .caja form .boton-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.seccion-contacto .caja form .boton-item .boton-form {
  margin: 5px 0;
  background-color: orange;
  width: 200px;
  font-weight: bold;
  border: 2px solid #212529;
  color: #212529;
  transition: 0.5s;
}
.seccion-contacto .caja form .boton-item .boton-form:hover {
  border: 2px solid #212529;
  background-color: transparent;
}

/*##### FIN # ESTILOS DE CONTACTO #####*/
/*##### MEDIA QUERYS #####*/
@media (max-width: 768px) {
  .pie-de-pagina div {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "redes footer-logo";
  }
  .sobre-nosotros .caja-izq {
    width: 100%;
    align-self: center;
  }
  .sobre-nosotros .caja-der {
    width: 100%;
    align-self: center;
  }
}
@media (max-width: 576px) {
  .nombre,
  .apellido {
    width: 100%;
  }
  .seccion-contacto .caja form .boton-item .boton-form {
    width: 100%;
  }
  footer .pie-de-pagina {
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }
  footer .pie-de-pagina .footer-logo {
    justify-content: center;
    align-items: center;
  }
  footer .pie-de-pagina hr {
    display: block;
  }
  footer .pie-de-pagina .redes-sociales {
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 480px) {
  .img-pag-contacto div {
    width: 90%;
  }
}
/*##### FIN # MEDIA QUERYS #####*/

/*# sourceMappingURL=style.css.map */
